@model Fashi.Context.Order
<div class="content">
    <div class="products-agileinfo">
        <div class="container">
            <div class="product-agileinfo-grids w3l">

                <div class="col-md-9 product-agileinfon-grid1">
                    <center>
                        <h2>
                            Sản Phẩm Đã Mua
                        </h2>
                    </center>
                    @Html.ValidationSummary(true)
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><strong style="color:red">Tên</strong></th>
                                <th><strong style="color:red">Giá</strong></th>
                                <th><strong style="color:red">Số Lượng</strong></th>
                                <th><strong style="color:red">Thành Tiền</strong></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var p in ShoppingCart.Cart.Items)
                            {
                                <tr>
                                    <td><p><strong style="color:orange">@p.ten</strong></p></td>
                                    <td>
                                        <strong style="color:orange">
                                            @String.Format("{0:0,0}", p.giagiam)
                                        </strong>
                                    </td>
                                    <td><strong style="color:orange">@p.soluong</strong></td>
                                    <td>
                                        <strong style="color:orange">
                                            @String.Format("{0:0,0}", (p.soluong * p.giagiam)) đ
                                        </strong>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4" style="text-align:right">
                                    <strong style="color:red">Thanh Toán :</strong>
                                </td>
                                <td style="color:black">
                                    <center>
                                        @String.Format("{0:0,0}", ShoppingCart.Cart.Amount) đ
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <center>
                        <h2>Chi Tiết Đơn Hàng</h2>
                    </center>
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group col-sm-6">
                                <label>Khách Hàng</label>
                                @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Ngày Đặt</label>
                                @Html.TextBoxFor(m => m.NgayDat, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Người Nhận</label>
                                @Html.TextBoxFor(m => m.NguoiNhan, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Ngày Giao</label>
                                @Html.TextBoxFor(m => m.NgayNhan, "{0:yyyy-MM-dd}", new { @class = "form-control nn-date" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Trang Thái</label>
                                @Html.TextBoxFor(m => m.TrangThai, new { @class = "form-control", @readonly = true })
                            </div>

                            <div class="form-group col-sm-6">
                                <label>Thành Tiền</label>
                                @Html.TextBoxFor(m => m.Tien, new { @class = "form-control", @readonly = true })
                            </div>

                            <div class="form-group col-sm-6">
                                <label>Điền Lòng Điền Địa Chỉ Và Số Điện Thoại</label>

                                @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control" })
                                <strong style="color:red">  @ViewBag.DiaChi</strong>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Ghi Chú</label>
                                @Html.TextAreaFor(m => m.MieuTa, new { @class = "form-control", rows = 1 })
                            </div>

                        </div>

                        <div class="row">

                        </div>
                        <center>
                            <button type="submit" class="site-btn register-btn">ĐẶT HÀNG NGAY</button>
                        </center>



                    }

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
