@model Fashi.Context.product

<body>
    <!-- Hero Section Begin -->
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->




    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        @if (ShoppingCart.Cart.Count == 0)
                        {
                            <h2>Giỏ Hàng Trống !</h2>
                        }
                        else
                        {
                            <table>
                                <thead>
                                    <tr>

                                        <th class="p-name">Tên</th>
                                        <th>Ảnh</th>
                                        <th>Giá</th>
                                        <th>Số Lượng</th>
                                        <td></td>
                                        <th>Tổng</th>
                                        <th><a href="/Cart/Clear" class="btn btn-warning"><i class="ti-close"></i> </a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in ShoppingCart.Cart.Items)
                                    {
                                        <tr>
                                            <td>@p.ten</td>
                                            <td width="100">
                                                <img style="width:100%" src="~/Content/img/products/@p.anhmh" />
                                            </td>

                                            <td class="p-price first-row">
                                                @String.Format("{0:0,0}", @p.giagiam)đ

                                            </td>
                                            <td>
                                                <input type="number" name="name" value="@p.soluong" min="1" style="width:50px" data-update-cart="@p.id" />
                                            </td>
                                            <td></td>
                                            <td class="close-td first-row">
                                                <span>
                                                    @String.Format("{0:0,0}", (p.soluong * p.giagiam))
                                                </span>đ
                                            </td>

                                            <td class="close-td first-row" data-remove-from-cart="@p.id"><i class="ti-close"></i></td>



                                        </tr>
                                    }
                                    <tr>
                                        <th style="color:red"> Tổng Tiền:</th>
                                        <th style="color:black">
                                            <center>
                                                <span id="table-cart-amt">
                                                    @String.Format("{0:0,0}", ShoppingCart.Cart.Amount)
                                                </span>đ
                                            </center>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="cart-buttons">
                                        <a href="/Shop/Index" class="primary-btn continue-shop">Mua Sắm Thêm</a>
                                        <a href="/Cart/Index" class="primary-btn up-cart">Cập Nhật Giỏ Hàng</a>
                                    </div>

                                </div>
                                <div class="col-lg-4 offset-lg-4">
                                    <div class="proceed-checkout">

                                        <a href="/Order/Checkout" class="proceed-btn">Tiến Hành Đặt Hàng</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </section>


















    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>