@model Fashi.Context.Customer
@{
    /**/

    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ValidationSummary(true)
@using (Html.BeginForm("Register", "Account",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>ĐĂNG KÝ</h2>
                        <strong>  @ViewBag.message</strong>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>TÀI KHOẢN</label>
                                @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>MẬT KHẨU</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>HỌ TÊN</label>
                                @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>EMAIL</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>ẢNH</label>
                                <input type="file" name="UpPhoto" class="form-control" />
                                @Html.HiddenFor(m => m.Photo)
                            </div>
                            @Html.HiddenFor(m => m.Activated)
                            <div class="form-group">
                                <center>
                                    <button class="btn btn-primary">
                                        <span class="glyphicon glyphicon-registration-mark"></span>
                                        Đăng Ký
                                    </button>
                                </center>
                            </div>
                        </form>
                        <div class="switch-login">
                            <a href="../Account/Login" class="or-login">Đăng Nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

