  <!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            @foreach (var logopar in Model.listLogoPartem)
            {
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/img/logo-carousel/@logopar.anh" alt="">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->
<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="~/Content/img/logo/footer-logo.png" alt=""></a>
                    </div>
                    <ul>

                        @foreach (var lh1 in Model.listLh1)
                        {
                            <li>@lh1.thongtin</li>
                        }
                    </ul>
                    <div class="footer-social">

                        @foreach (var lh2 in Model.listLh2)
                        {
                            <a href="@lh2.link"><i class="@lh2.icon"></i></a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Thông Tin</h5>
                    <ul>

                        @foreach (var lh3 in Model.listLh3)
                        {
                            <li><a href="@lh3.link">@lh3.muc</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Tài Khoản</h5>
                    <ul>

                        @foreach (var lh4 in Model.listLh4)
                        {
                            <li><a href="@lh4.link">@lh4.muc</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                        <img src="~/Content/img/pay/pay.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery-ui.min.js"></script>
<script src="~/Content/js/jquery.countdown.min.js"></script>
<script src="~/Content/js/jquery.nice-select.min.js"></script>
<script src="~/Content/js/jquery.zoom.min.js"></script>
<script src="~/Content/js/jquery.dd.min.js"></script>
<script src="~/Content/js/jquery.slicknav.js"></script>
<script src="~/Content/js/owl.carousel.min.js"></script>
<script src="~/Content/js/main.js"></script>